.menu-hamburguer {
  display: none;
  margin-bottom: 10px;
}
.menu-hamburguer-btn {
  background-color: #333;
  margin-bottom: 1px;
}

@media (max-width: 428px) {
  .navbar {
    display: none;
  }
  .menu-hamburguer {
    display: block;
    background-color: #333; /*Cor de fundo do componente*/
    color: #fff; /* Cor do texto e do ícone */
    font-size: 18px; /* Tamanho da fonte */
  }

  .menu-hamburguer button {
    margin-left: 10px;
    border: none;
  }

  .menu-hamburguer a {
    color: #ffffff; /* Cor do texto dos links */
    text-decoration: none; /* Remove a sublinhado dos links */
    font-size: 18px; /* Tamanho da fonte dos links */
    margin-bottom: 10px;
    font-family: 'Roboto', sans-serif;
  }

  .menu-hamburguer a:hover {
    color: #ccc; /* Cor do texto dos links quando o mouse estiver sobre eles */
  }

  .menu-hamburguer .icon {
    width: 2.4rem;

    /* margin-bottom: -15px; */
    display: block; /* Exibe o ícone como um bloco inline */
    cursor: pointer; /* Altera o cursor do mouse para um ponteiro quando o mouse estiver sobre o ícone */
  }

  .menu-hamburguer ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1.7;
  }
}
