.footer-color {
    /* background-color: blueviolet; */
    color:#202020;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    
}

.social-media {
    /* background-color: gold;   */
    max-width: 100%;
    margin-right: 14%;
    padding-bottom: 1rem;
}

.social-media ul {
    width: 100%;
    /* background-color: aqua; */
    padding-top: 1rem;
}

.social-media a{
    color: #000;
    
}

footer {
    color: #9a9898;
    text-align: center;
    font-size: 12px;
    margin-bottom: 1rem;
}
@media (max-width: 1920px) {
    .footer-color {
        padding: 1px ;
    }
    .social-media {
        margin-right: 19%;
    }

}
@media (max-width: 1366px) {

    .footer-color {
        padding: 1px ;
    }
    .social-media {
        margin-right: 27%;
    }

}

@media (max-width: 1280px) {

    .footer-color {
        padding: 1px ;
    }
    .social-media {
        margin-right: 30%;
    }

}
@media (max-width: 1114px) {

    .footer-color {
        padding: 1px ;
    }
    .social-media {
        margin-right: 32%;
    }

}

@media (max-width: 884px) {

    .footer-color {
        padding: 1px ;
    }
    .social-media {
        margin-right: 42%;
    }

}

@media (max-width: 835px) {

    .footer-color {
        padding: 1px ;
    }
    .social-media {
        margin-right: 44%;
    }

}

@media (max-width: 800px) {

    .footer-color {
        padding: 1px ;
    }
    .social-media {
        margin-right: 45%;
    }

}

@media (max-width:768px) {
    .footer-color {
        padding: 1px ;
    }
    .social-media {
        margin-right: 47%;
    } 
}
@media (max-width:428px){
    .social-media {
        width: 400px;
        text-align: center;
        margin-left: 200px;
        display: flex;
        justify-content: center;
        flex-direction: column;        
    }
}


@media (max-width: 415px) {
    .social-media {
        width: 400px;
        text-align: center;
        margin-left: 190px;
        display: flex;
        justify-content: center;
        flex-direction: column;        
    }
}
@media (max-width: 360px) {
    .social-media {
        width: 400px;
        text-align: center;
        margin-left: 170px;
        display: flex;
        justify-content: center;
        flex-direction: column;        
    }
}
@media (max-width: 320px) {
    .social-media {
        width: 400px;
        text-align: center;
        margin-left: 150px;
        display: flex;
        justify-content: center;
        flex-direction: column;        
    }
}
